<div class="parallax2"></div>
<div class="container1">
<h4>Our Mission</h4>
<p>To break the walls down in a foster child’s life.
    To be a positive force and provide
   a brighter future for the child.</p>
</div>
<div class="parallax1"></div>
   <div class="container2">
<h4>Our Vision</h4>
<p>Our communities, business and neighborhoods will be
  inspired to break down the walls of a child through kindness
  and inspiration. We will positively impact a child’s life
  throughout their care and after care in the foster system by
  raising money throughout our communities to help pay for services
   and gaps that are not provided for by the state.</p>
   </div>
   <div class="parallax3"></div>
   <div class="container3">
      <h4>Our Goal</h4>
      <p>To raise awareness and funds to assist children in the Arizona
        Foster Care System and those who have aged out of the foster system,
         with educational, extracurricular and person growth needs that are
          not met with the funding provided for these children by the State
          of Arizona.</p>
         </div>
         <div class="parallax3"></div>
