<br>
<br>
<br>
<br>
<div class="container">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../assets/boy.jpg">
      <div class="card-body">
        <h2 class="card-title">Donations Matter</h2>
        <p>These donations are critical for supporting kids in the foster care system in
            the state of Arizona. As of October 2019 there are 13,476 children in out-of-home
            foster care (source: <a href="https://dcs.az.gov/news-reports/dcs-reports">Arizona Department
              of Child Safety Monthly Operational and Outcome Report Nov 2019</a>).
            The money you donate will help them with clothing, participation
            in activists after school, Christmas gifts, summer camps, and so much more. Fosterin Without Walls is
            committed to providing a brighter future for these kid so that one day they will be
            productive members of our community.</p>
        <div class="form">
          <!-- below is the paypal button -->
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="YZWHB4Y3B4LEA" />
            <input type="image" class="ppBtn" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
              name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
