<br>
<br>
<br>
<div class="container">
<div class="card-deck">
    <div class="card">
      <div class="card-img-top "></div>
      <div class="card-body">
        <h2 class="card-title">Grant Application Instructions</h2>
        <ul class="card-text">
            <li>Please fill out all parts of the application.</li>
            <li>If you have already paid for the activity or need, please provide a reciept.</li>
            <li>We would prefer to have the grant filled out prior to the need being filled.</li>
          </ul>
          <div class="form">
              <h4>Grant Application Form &nbsp;&nbsp;&nbsp;
                <button class="btn" type="button"><a href="https://form.jotform.com/200187424953052">Click Here</a></button>
              </h4>
              <!-- <a href="https://form.jotform.com/200187424953052" rel="no-follow"><img src="https://www.jotform.com/uploads/hdrattlo88/form_files/200187424953052_qrcode_muse.png" width="100%" style="max-width: 200px" alt="QR Code for JotForm form"/></a> -->
            </div>
      </div>
    </div>
    </div>
    </div>
