<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fostering Without Walls</h1><img class="responsive" src="../../../assets/fwwLogoV2.png"
      alt="FWW Logo">
    <p class="lead">Be a force for change <a class="button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YZWHB4Y3B4LEA&source=url"> DONATE HERE</a>
    </p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <p class="lead">For grant information <a class="button" [routerLink]="['/grant']"> CLICK HERE</a> </p>
  </div>
</div>
<app-mission></app-mission>
