<br>
<br>
<br>
<div class="container">
<div class="card-deck">
    <div class="card">
      <div class="card-img-top "></div>
      <div class="card-body">
        <h2 class="card-title">About FWW</h2>
        <p class="card-text">Fostering Without Walls is a 501c3 that was created early in 2019.
            After starting Red Hawk Ranch, a group home for siblings
            removed by the Department of Child Safety, we realized
            many of the kids needs were not fulfilled by the State.
            The board members of FWW all believe in giving back
            to the community and making a difference in this world.
            We have a tender heart for kids and want to make their
            lives better while they are going through this traumatic
            time.
        </p>
      </div>
    </div>
    </div>
    </div>
<div class="container">
  <h1>Board Members</h1>
  <div class="card-deck">
    <div class="card">
      <span class="topBG">
      <img class="card-img-top " src="../../../assets/kim.JPG" alt="Card image cap">
    </span>
      <div class="card-body">
        <h2 class="card-title">Chairman: Kim Mccurtain</h2>
        <p class="card-text">Kim was a probation officer for over 20 years.
          She was one of the leaders and trainers in risk reduction and continues
          to train new officers around the state for AOC (Arizona Office of the Courts).
          Kim is also the Chief Financial Officer for Red Hawk Ranch, a sibling home for 18 boys and girls
           removed from their homes by the State. She is a graduate of Arizona State
          University in Tempe, Arizona, where she earned a Bachelor’s Degree in Criminal
          Justice with a minor in political science. She is a graduate of Northern Arizona
          University, where she earned a Master’s Degree in Educational Leadership. She has
          volunteered on the Foster Care Review Board for 7 years. She volunteers to improve
          the health and wellness of Police Officers in the State of Arizona.</p>
      </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../assets/jan.JPG" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Vice President: Mrs. Jan Johnston</h2>
        <p class="card-text">Jan left the cold winters of Nebraska in 1977 to pursue
          her undergraduate and master's degrees at ASU. Along the way she became an
           Adult Probation Officer for Maricopa County, where she honed her skills
           working a myriad of assignments, to include Investigations, Intensive
           Supervision, Court Liaison, Training, and finally working with the Seriously Mentally Ill
           population. She joined the Board of Directors of Triple R Behavioral
           Health in 2007. That same year she retired from Probation after 27 years.
           Triple R merged with New Arizona Family in 2011 creating the multi-service
           provider agency, Lifewell Behavioral Wellness. Jan served on that Board of
           Directors until August of 2017. As a long time cat lover, she became an
           active volunteer with the Paw Placement Animal Rescue in 2008. She has
           also served as a Foster Care Review Board member for over 33-years.
           Besides volunteering, Jan and her husband, Rob, are avid world travelers
           and scuba divers.</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <!-- second row -->
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../assets/linnea.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Treasurer: Linnea Tow</h2>
        <p class="card-text">Linnea is a mother of 3 children, 2 step daughters and 8 grandchildren.  
          She began her career working in the field of optometry in 1971 working as a scheduler, 
          back up optician and pre-test technician.  She retired from this profession in 2009.  
          She has had a passion for cards since she was little.  She started playing social bridge 
          at a young age and transitioned to a competitive league in 1996.  She currently is a board
          member for Bridge Unit 351.  She has been a hospitality chairperson and is has been their 
          treasurer since 2009.  She looks forward to serving on the FWW board and helping fulfill 
          the needs of the kids in foster care.  
        </p>
      </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <div class="card-deck"></div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/carol.JPG" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Secretary: Mrs. Carol J. Graham</h2>
        <p class="card-text">Mrs. Graham graduated from Arizona State University,
          with a Bachelor of Science degree in Criminal Justice, in 1987. She was
          employed with the Maricopa County Courts and Adult Probation Department
          for over 24 years before retiring in 2011. While employed, she held numerous
          positions dealing with the investigation and supervision of adult clientele
          in need of community agency referrals addressing various issues including
          mental health, substance abuse, financial, life skills, and cognitive
          behavioral changes. Mrs. Graham served on various committees addressing
          these issues throughout her employment. In 2013, she obtained
          certification and licensing as a Certified Pharmacy Technician and
          worked in the field for two years. She has volunteered at local
          community agencies. Mrs. Graham brings to the board over 30 years
          of experience in social services with a desire to positively impact
          the children and the community of the Northern Arizona.</p>
      </div>
    </div>
    </div>


<br>
<br>
<br>
<br>
